<a href="https://colab.research.google.com/github/Hilmihibatullah1/PengenalanPython/blob/main/PSDS_P11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

adalah sebuah blok statement yang hanya akan dijalankan saat dipanggil

Fungsi len() untuk mengukur jumlah elemen dalam sebuah list dan fungsi print() untuk menampilkan pesan pada layar konsol merupakan contoh dari bentuk fungsi yang telah disediakan oleh bahasa pemrograman python, dengan kata lain built-in function.

Selain fungsi yang telah disediakan oleh python, python mengizinkan untuk mendeklarasikan fungsi dalam kode yang dituliskan yang dikenal dengan user defined function.

```
def nama_fungsi (argument):
  statement1
  .
  .
  statementn
  return returned_value
  ```



*   nama_fungsi adalah untuk fungsi yang anda definisikan, memiliki aturan seperti penamaan variabel
*   argument adalah variabel masukan ke fungsi, biasa tanpa variabel, satu variabel atau lebih
* statement1... statementn adalah algoritma yang telah anda transfer dalam bahasa python yang merupakan inti dari fungsi yang anda definisikan. seluruh statement adalah menjorok (indent) ke dalam seperti pernah anda pelajari pada conditioning dan looping.
* return_value adalah variabel output dari fungsi anda, bisa tanpa variabel, satu variabel atau lebih.

## Argumen dan Parameter

* Parameter adalah variabel yang digunakan dalam deklarasi fungsi
* Argumen adalah nilai yang diberikan saat pemanggilan fungsi

In [1]:
def print_nama(nama): #'nama' adalah parameter
  print(nama)

print_nama('Budi')#'Budi' adalah argumen

Budi

## Argumen posisi dan kata kunci

kita bisa menyatakan argumen posisi atau kata kunci. Beberapa manfaat argumen kata kunci dapat berupa:

* Kita dapat menyebut argumen dengan mereka untuk memperjelad apa yang mereka wakili
* Kita dapat mengatur ulang argumen dengan cara membuatnya paling mudah dibaca

In [2]:
def angka(a,b,c):
  print(a,b,c)

#argumen posisi
#argumen berrdasarkan posisinya
angka(1,2,3)

#argumen berdasarkan kata kuncinya
angka(a=1, b=2, c=3)
angka(c=3, b=2, a=1)

1 2 3
1 2 3
1 2 3

In [3]:
#catatan: jika sudah diberi kunci makan urutan tidak menjadi penting
#campuran antaara argumen posisi dan argumen kaaata kunci
angka(1, b=2, c=3)

#ini tidak diijinkan:
#foo(1, b=2, 3) argumen posisional setelah argumen kunci
#foo(1, b=2, a=3) terdapat dua nilai untuk argumen kunci 'a'

1 2 3

## Argumen Default

Fungsi dapat memiliki argumen defaukt dengan nilai yang telah ditentukan sebelumnya. Argumen ini dapat ditinggalkan dan nilai default kemudian diteruskan ke fungsi , atau argumen dapat dirubah dengan nilai yang berbeda. perhatikan bahwa argumen default harus ditentukan sebagai **parameter terakhir** dalam suatu fungsi

In [4]:
def angka2(a,b,c,d=4):
  print(a,b,c,d)

angka2(1,2,3,4)
angka2(1, b=2, c=3, d=100)
#argumen default harus diletakan terrakhir

1 2 3 4
1 2 3 100

## Praktik membuat fungsi

In [5]:
x=1
y=2
x*y

2

In [6]:
def penjumlahan(x,y): #input
  a=x+y #proses
  return a #output

penjumlahan(1,2)

3

In [7]:
#Penjumlahan yang memungkinkan untuk 3 bilangan
def penjumlahan(x,y,z=None):
  if(z==None):
    return x+y
  else:
    return x+y+z
print(penjumlahan(1,2))
print(penjumlahan(1,2,3))

3
6

In [8]:
#menyimpan hasil fungsi dalam variabel
def penjumlahan(x,y):
  return x+y
a = penjumlahan
a(1,2)

3

## **Latihan 1**


buatlah function phytagoras dengan input argumennya panjang tinggi dan alas segitiga untuk menghasilkan output nilai panjang sisi miring

In [ ]:
import math

def phytagoras(panjang_tinggi,alas_segitiga):
    panjang_sisi_miring = math.sqrt((panjang_tinggi ** 2) + (alas_segitiga ** 2))
    return panjang_sisi_miring

# Eksekusi penggunaan fungsi
tinggi = int(input("tinggi segitiga :"))
alas = int(input("panjang alas segitiga :"))
nilai_panjang_sisi_miring = phytagoras(tinggi, alas)
print("Panjang sisi miring segitiga adalah:", nilai_panjang_sisi_miring)

tinggi segitiga :4
panjang alas segitiga :3
Panjang sisi miring segitiga adalah: 5.0

**Latihan 2**

Buatlah function luas permukaan balok dengan input argumennya panjang, lebar, dan tinggi balok dari balok untuk menghasilkan output nilai luas permukaan balok tersebut

In [ ]:
panjang = 5
lebar = 3
tinggi = 2

In [ ]:
def luas_permukaan_balok(panjang, lebar, tinggi):
  luas_permukaan_balok = (2*(panjang*lebar+panjang*tinggi+lebar*tinggi))
  return luas_permukaan_balok

#Eksekusi penggunaan fungsi
panjang = int(input("panjang :"))
lebar = int(input("lebar :"))
tinggi = int(input("tinggi :"))
luas_permukaan_balok = luas_permukaan_balok(panjang, lebar, tinggi)
print("luas permukaan baloknya adalah :", luas_permukaan_balok)

panjang :4
lebar :2
tinggi :5
luas permukaan baloknya adalah : 76

# Lambda

Fungsi lambda adalah fungsi anonim ```one line```yang didefinisikan tanpa nama.
fungsi lambda dapat mengambil sejumlah
```arguments```, tetapi hanya dapat memiliki satu ```expression```.
Sementara fungsi normal didefinisikan menggunakan kata kunci ```def```, dalam python fungsi anonim didefinisikan menggunakan kata kunci lambda.

Fungsi lambda digunakan ketika fungsi sederhana hanya digunakan sekali atau untuk waktu yang singkat dalam kode kita. penggunaannya yang paling umum adalah sebagai argumen fungsi tingkat tinggi (fungsi yang menggunakan fungsi lain sebagai argumen).

Lambda exxpression di python adalah sebuah ekspresi untuk membuat fungsi.

Lambda sendiri berasal dari teori kalkulus, yakni lambda calculus yang dikenalkan oleh Alonzo Church di tahun 1930.

Berkat lambda, kita bisa membuat fungsi tanpa nama atau dikenal juga dengan anonymous function.

![image.png]()

lambda bisa memiliki lebih dari satu argumen atau parameter, tapi hanya bisa memiliki satu ekspresi atau isi.

In [12]:
greeting = lambda name :print(f"hello",(name))

karena fungsi lambda tidak punya nama, jadi kita butuh variabel untuk menyimpannya.

nanti saat akan kita panggil, kita tinggal tuliskan saja nama variabelnya seperti iini:

In [13]:
greeting("dian")
greeting('ayu')

hello dian
hello ayu

In [14]:
#fungsi lambda untuk menambahkan angka 10 kepada argumen input
f = lambda x: x+10
val1 = f(5)
val2 = f(100)
print(val1,val2)

15 110

In [15]:
#fungsi lambda untuk mengalikan dua argumen input dan menampilkan hasilnya
f = lambda x,y: x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3, val4)

20 35

## Anonymous Function

karena lambda adalah anonymous function, ia akan bebas menggunakan nama apa saja. Dengan kata lain, fungsi lambda bisa disimpan di variabel manapun. ini tentunya tidak bisa dilakukan oleh fungsi yang dibuat dengan def. coba perhatikan ini:

In [16]:
def say_hello(nama):
  print(f"hello (nama), apa kabar"))
ucapin = say_hello(nama)

SyntaxError: ignored

saya mencoba membuat fungsi say_hello dengan def, kemudian menyimpannya ke dalam variabel ucapin. tapi malah eror.

ini karena fungsi tersebut bukanlah fungsi anonymous yang boleh diubah ubah namanya.

lalu coba perhatikan dibaris terakhir, fungsi lambda greeting() yang sudah disimpan lagi ke variabel yang berbeda, yakni sapa

In [17]:
greeting = lambda name: print(f"hello, (name)")
sapa = greeting
greeting("andi")
sapa("neli")

hello, (name)
hello, (name)

In [20]:
greeting = lambda name: print(f"hello", (name))
sapa = greeting
greeting("andi")
sapa("neli")

hello andi
hello neli

hasilnya tidak eror, karena ini adalah fungsi anonymous atau lambda

## Eksekusi lambda secara langsung

Eksekusi lambda secara langsung kelebihan fungsi dibandingkan def adalah bisa kita eksekusi secara langsung.

contohnya:

In [21]:
(lambda x,y : x**2 + y**2)(4,6)

52

tanda kurung yang mengapit fungsi lambda artinya akan langsung mengeksekusi fungsi tersebut.

lalu kurung berikutnya akan berisi parameter.

angka 4 dan 6 adalah parameter x dan y yang akan diberikan kepada fungsi lambda.

maka kita kan langsung mendapatkan hasilnya yakni 4**2 +6**2 = 52

hasil eksekusi ini bisa juga kita simpan kedalam variabel:

In [22]:
hasil = (lambda x,y : x**2 + y**2)(4,6)

## Mengapa harus pakai lambda

kita memang tidak harus selalu menggunakan lambda, tapi dalam kasus tertentu lambda lebih baik dibandingkan dengan def atau fungsi biasa.

lambda biasanya dibutuhkan saat kita ingin membuat fungsi daalam satu baris.

biasanya saat menggunakan fungsi fungsi seperti ``` filter (), map(), dan reduce()``` kita membutuhkan lambda.

mengapa?

karena fungsi fungsi tersebut membutuhkan parameter fungsi

contoh:

In [23]:
bilangan =[10,2,8,7,5,4,3,11,0,1]
filtered_result = map(lambda x: x*x, bilangan)
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

pada fungsi map() kita memberikan parameter dengan fungsi lambda.

mengapa bisa begitu?

karena lambda bisa disimpan ke dalam variabel, otomatis dia akan bisa juga jadi parameter.

satu lagi contoh dengan fungsi filter()

In [24]:
#menentukan bilangan genap
genap = lambda x: x%2 == 0
list(filter(genap, range(11)))

[0, 2, 4, 6, 8, 10]

## Latihan 1

Buatlah fungsi lambda untuk menghitung luas dari persegi panjang

In [25]:
luas_persegi_panjang = lambda panjang, lebar: panjang * lebar

# Contoh penggunaan
panjang = 7
lebar = 4
luas = luas_persegi_panjang(panjang, lebar)
print("Luas Persegi Panjang:", luas)

Luas Persegi Panjang: 28

## Latihan 2

Buatlah fungsi lambda untuk menghitung luas dari segitiga

In [26]:
luas_segitiga = lambda alas, tinggi: (alas * tinggi) / 2

# Contoh penggunaan
alas = 8
tinggi = 5
luas = luas_segitiga(alas, tinggi)
print("Luas Segitiga:", luas)

Luas Segitiga: 20.0