<a href="https://colab.research.google.com/github/Hilmihibatullah1/PengenalanPython/blob/main/Operator%2CVariabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operator

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

Tipe - tipe operator :

1. Operator Aritmatika

2. Operator Assigment

3. Operator Pembanding

4. Operator Logika

5. Operator Membership

## Operator Aritmatika

Operator aritmatika digunakan untuk melakukan operasi matematika yang umum.

Macam - macam operator aritmatika, yaitu

'+' = penjumlahan

'-' = pengurangan

'*' = perkalian

/ = pembagian

% = modulus

** = perpangkatan

// = pembagian dengan hasil pembulatan flooring

In [1]:
#Penjumlahan
print('penjumlahan')
print(2+2)
#Pengurangan
print('pengurangan')
print('-'*20)
print(2-3)
#Perkalian
print('perkalian')
print('-'*20)
print(2*3)
#Pembagian
print('pembagian')
print('-'*20)
print(2/3)
#Modulus
print('Modulus')
print('-'*20)
print(2**3)
#Pembagian dengan hasil pembulatan flooring
print('pembagian pembulatan flooring')
print('-'*20)
print(3//2)

penjumlahan
4
pengurangan
--------------------
-1
perkalian
--------------------
6
pembagian
--------------------
0.6666666666666666
Modulus
--------------------
8
pembagian pembulatan flooring
--------------------
1

In [2]:
# Latihan Operator
#Penjumlahan
print('penjumlahan')
print(3+5)
#Pengurangan
print('pengurangan')
print('-'*20)
print(5-4)
#Perkalian
print('perkalian')
print('-'*20)
print(3*4)
#Pembagian
print('pembagian')
print('-'*20)
print(4/2)
#Modulus
print('Modulus')
print('-'*20)
print(4**7)
#Pembagian dengan hasil pembulatan flooring
print('pembagian pembulatan flooring')
print('-'*20)
print(12//8)

penjumlahan
8
pengurangan
--------------------
1
perkalian
--------------------
12
pembagian
--------------------
2.0
Modulus
--------------------
16384
pembagian pembulatan flooring
--------------------
1

## Operator Assignment

digunakan untuk menyimpan nilai menjadi suatu variabel

= Contohnya x=5 -> x=5

+= contohnya x=x+5 -> x+=5

-=

*=

/=

%=

//=

**=

In [4]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x-5
x+=5
print(x)
#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
#pembagian
print('Pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
#Pembagian Flooring
print('Pembagian flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)

Penjumlahan
10
15
Pengurangan
0
2
Perkalian
25
15
Pembagian
1.0
1.6666666666666667
Modulus
0
2
Pembagian flooring
1
1
Perpangkatan
3125
125

In [7]:
#Latihan
a = 4
a+=4
print(a)
a-=4
print(a)
a*=4
print(a)
a/=6
print(a)
a%=10
print(a)
a//=8
print(a)
a**=3
print(a)

8
4
16
2.6666666666666665
2.6666666666666665
0.0
0.0

## Operator Pembanding

Operator pembanding digunakan untuk membandingkan 2 nilai atau variabel.

Macam macam operator pembanding ;

== -> sama dengan

!= -> tidak sama dengan

'> -> lebih dari

< -> kurang dari

'>= -> lebih dari sama dengan

<= -> kurang dari sama dengan

In [8]:
# Contoh
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

In [9]:
#Latihan
print(3==2)
print(3!=2)
print(3>2)
print(3<2)
print(3>=4)
print(3<=5)

False
True
True
False
False
True

## Operator Logika

digunakan untul mengkombinasikan statement statement kondisional

and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnta ada yang benar

not -> membalik hasil dari benar ke salah dan salah ke benar ( negasi)

In [10]:
#Contoh
print(True and True)
print(True or False)
print(not False)

True
True
True

In [11]:
#Latihan
print(True and False)
print(False or True)
print(not True)

False
True
False

## Operator Membership/Keanggotaan

digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator keanggotaan ;

in -> return True ketika nilai tertentu ada dalam sebuah urutan

not in -> return True ketika nilai tertentu tidak ada dalam sebuah urutan

In [12]:
#Contoh
a=(1,2,3,4,5,6,7)
b=2
print(b in a)
print(b not in a)
c= 9
print(c in a)

True
False
False

In [13]:
#Latihan
a=(3,5,7,8)
b= 10
print(b in a)
print(b not in a)

False
True

# Variabel

Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel ;

1. Karakter - Karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore.

2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka

3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved word dari bahasa python seperti for, if, dan lainnya

4. Karakter pada nam variabel bersifat sensitif (case sensitive)

In [15]:
#Membuat variabel
Kalimat ='ini adalah variabel'
bilang1= 4
bilangan2=2.5
bilangan3= True
bilangan4=1j+4

In [17]:
#Latihan
nama = 'Hilmi'
bulat = 6
desimal = 3.5
bil = False
angan = 3j+5

print(nama)
print(bulat)
print(desimal)
print(bil)
print(angan)

Hilmi
6
3.5
False
(5+3j)

# Tipe Data dan Konversi Tipe Data

## Tipe Data

Ada 5 tipe data yaitu ;

1. Integer atau bilangan bulat ; int()

2. Float atau bilangan desimal

3. boolean atau terdiri dari True dan False

4. String atau kalimat

5. Complex yang merupakan bilangan kompleks

In [18]:
#Menampilkan tipe data
print(type(Kalimat))
print(type(bilang1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [19]:
#Latihan
print(type(bulat))
print(type(bil))
print(type(angan))
print(type(desimal))
print(type(nama))

<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'float'>
<class 'str'>

## Konversi Tipe Data

In [23]:
# Konversi Tipe Data integer

print(int(bilangan3))
print(int(bilangan2))

#Konversi tipe data float
print(float(bilang1))
print(float(bilangan3))

#Konversi tipe data string
print(str(bilang1))
print(str(bilangan2))

#Konversi tipe data boolean
print(bool(bilang1))
print(bool(bilangan2))

#Konversi tipe data complex
print(complex(bilang1))
print(complex(bilangan2))
print(complex(bilangan3))

1
2
4.0
1.0
4
2.5
True
True
(4+0j)
(2.5+0j)
(1+0j)

In [24]:
#Latihan
print(int(desimal))
print(str(bil))
print(float(bulat))
print(bool(nama))
print(complex(bulat))

3
False
6.0
True
(6+0j)

In [ ]:
x = 5
y = 2

In [ ]:
print(str(x))
print(str(y))

5
2

In [ ]:
print(str(x)+str(y))

52