<a href="https://colab.research.google.com/github/Hilmihibatullah1/PengenalanPython/blob/main/Struktur_data_list_dan_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh tuple
t1 = (1, "dua", True, 1+2j)
print("ini adalah tuple",t1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
t2 = 1,"dua",True,1+2j
print("ini adalah tup;e",t2)

ini adalah tup;e (1, 'dua', True, (1+2j))

In [3]:
#Menampilkan tipe struktur data
type(t1)

tuple

In [4]:
type(t2)

tuple

## Sifat sifat Tuple

In [5]:
#Terurut/Ordered
t1[0:3]

(1, 'dua', True)

In [6]:
#Tidak bisa diganti/Immutable
t1[2]='Manusia'

TypeError: ignored

In [7]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple t1 adalah ",t1[1])

elemen kedua dari tuple t1 adalah  dua

In [8]:
#Dapat Diijinkan Duplikasi
t3 =(3, 2.4, True, 2.4)
t3

(3, 2.4, True, 2.4)

In [9]:
#tidak dapat menambahkan elemen baru
t1 =(1,"dua",True, 1+2j)
print(f'tuple\t:{t1}')

tuple	:(1, 'dua', True, (1+2j))

In [10]:
t1.append(10)
t1.append(59)
print(f'tuple\t:{t1}')

AttributeError: ignored

In [11]:
#Tidak dapat menghapus elemen
t1 = (1,"dua",True,1+2j)
print(f'tuple\t:{t1}')

tuple	:(1, 'dua', True, (1+2j))

In [12]:
t1.remove(1)
t1.remove("dua")
print(f'tuple\t:{t1}')

AttributeError: ignored

## Menggabungkan Tuple

In [13]:
t4 = t1+t2
t4

(1, 'dua', True, (1+2j), 1, 'dua', True, (1+2j))

## Latihan

In [14]:
# Membuat tuple
p1 = 5, False, "kamu", 5j+3
p1

(5, False, 'kamu', (3+5j))

In [15]:
type(p1)

tuple

In [16]:
#Buat tuple kedua lalu gabungkan 2 tuple tersebut
p2 = "duapuluhsatu",21, 67+4j, True
p2

('duapuluhsatu', 21, (67+4j), True)

In [17]:
type(p2)

tuple

In [18]:
#Gabung 2 tuple
print(p1+p2)

(5, False, 'kamu', (3+5j), 'duapuluhsatu', 21, (67+4j), True)

# Struktur Data List

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya (mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variable yang sering digunakan pada Python.

Serupa namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen list pada python tidak harus memiliki tipe data yang sama.

Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari nol.

In [19]:
# Contoh List
L1 =[1,4,2,13]
print(type(L1))

<class 'list'>

In [20]:
L2 = ["a","Python",3]
print(type(L2))

<class 'list'>

In [21]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

## Sifat Sifat List

In [22]:
# Terurut/Ordered
print("Memanggil list L1 dengan indeks urutan:",L1[0:3])

#Bisa Diganti/Mutable
L1[1]=2
print("List ini setelah diganti elemennya:",L1)

Memanggil list L1 dengan indeks urutan: [1, 4, 2]
List ini setelah diganti elemennya: [1, 2, 2, 13]

In [24]:
L1 =[1,"dua",True,2+3j]
type(L1)

list

In [25]:
L1

[1, 'dua', True, (2+3j)]

In [26]:
#Dapat diindeks/ Slicing
print("Slicing List L1:",L1[3])

Slicing List L1: (2+3j)

In [27]:
#Diijinkan duplikasi
L1 = [1,"dua",True,2+3j,2+3j]
print("Duplikasi pada list L1:",L1)

Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]

In [28]:
#Dapat mengubah data dengan mengganti elemen tertentu
L1=[1,"dua",True,2+3j]
L1[2]=3
print("Data setelah diubah:",L1)

Data setelah diubah: [1, 'dua', 3, (2+3j)]

In [29]:
#Dapat menambahkan elemen baru pada data
L1=[1,"dua",True,2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:",L1)

Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]

In [32]:
#Dapat menghapus elemen pada data (remove()
#menghapus berdasarkan nama objek)
L1 =[1,"dua",True,2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:",L1)

Data setelah dihapus elemennya: [1, 'dua', True]

In [33]:
#Menambahkan data menggunakan fungsi extend
#(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individu)

L1=[1,"dua",True,2+3j]
L1.extend(["nama"])
print(L1)

[1, 'dua', True, (2+3j), 'nama']

In [34]:
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'nama', 'n', 'a', 'n', 'a', 's']

In [35]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1= [1,"dua",True,2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [36]:
#Menghapus elemen dari list menggunakan fungsi pop()/ menghapus berdasarkan indeks
L1.pop(2)
L1

[1, 'dua', True, (2+3j)]

## Latihan

In [37]:
#Buatlah List

y = [1,2,3,4,"lima",False, 7j+5]
y

[1, 2, 3, 4, 'lima', False, (5+7j)]

In [40]:
#Ganti elemen yang ada pada List

y[6]=7
print(y)

[1, 2, 3, 4, 'lima', False, 7]

In [41]:
a=[1,2,3,4,'lima']
print(a)

[1, 2, 3, 4, 'lima']

In [42]:
a.append(7)
print(a)

[1, 2, 3, 4, 'lima', 7]

In [43]:
a.extend('satu')
print(a)

[1, 2, 3, 4, 'lima', 7, 's', 'a', 't', 'u']

In [44]:
a.extend(['dua'])
print(a)

[1, 2, 3, 4, 'lima', 7, 's', 'a', 't', 'u', 'dua']

In [45]:
a.insert(1,'tiga')
print(a)

[1, 'tiga', 2, 3, 4, 'lima', 7, 's', 'a', 't', 'u', 'dua']

In [46]:
a.remove(1)
print(a)

['tiga', 2, 3, 4, 'lima', 7, 's', 'a', 't', 'u', 'dua']

In [47]:
a.pop(2)
print(a)

['tiga', 2, 4, 'lima', 7, 's', 'a', 't', 'u', 'dua']

In [48]:
a.pop(5,6,7)
print(a)

TypeError: ignored

In [49]:
a.pop(5)
a

['tiga', 2, 4, 'lima', 7, 'a', 't', 'u', 'dua']

##### Notes

pop expected at most 1 argument **only 1 argument**