<a href="https://colab.research.google.com/github/Hilmihibatullah1/PengenalanPython/blob/main/Tipe_dan_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INPUT DAN OUTPUT PADA PHYTON

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() : input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

input() : nilai berupa string

str(input()) : nilai berupa string

int(input()) : nilai berupa integer

float(input()) : nilai berupa float

bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() : print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

##Menampilkan input

In [ ]:
#Input data string (str)
nama = input("Nama :")
umur= input("Umur :")
alamat = input("Alamat :")

Nama :Hilmi
Umur :20
Alamat :Kuningan

In [ ]:
print(nama)
print(umur)
type(nama)
type(umur)

Hilmi
20

str

In [ ]:
#Membuat input bertipe data integer (int)
angka= int(input())
aku = float(input())
print(aku)
print(angka)

12
12
12.0
12

In [ ]:
#Membuat input bertipe data float
angka= float(input())
print(angka)

21
21.0

##Menampilkan Output cara pertama

In [ ]:
print("Nama saya " + nama + "yang berumur " + umur + "dan bertempat tinggal di " +alamat)

Nama saya Hilmiyang berumur 20dan bertempat tinggal di Kuningan

In [ ]:
kampus = input("universitas ")
print(kampus)

universitas Ahmad Dahlan
Ahmad Dahlan

In [ ]:
print(' nama saya '+" "+ nama +" " + 'universitas ' +" "+ kampus  + 'kota '+" "  + alamat)

 nama saya  Hilmi universitas  Ahmad Dahlankota  Kuningan

##Menampilkan Output cara kedua
Menggunakan fungsi format()

In [ ]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Hilmi", umur = 20)
txt1

'Nama saya Hilmi, Saya berumur 20'

In [ ]:
txt2 = "Nama saya {0}, saya berumur {1}, tinggal di {2}".format("Hilmi",20,"London")
txt2

'Nama saya Hilmi, saya berumur 20, tinggal di London'

In [ ]:
txt3 = "Nama saya{0}, saya berumur {1}".format("Hilmi",20)
txt3

'Nama sayaHilmi, saya berumur 20'

##Menampilkan Output cara ketiga
menggunakan simbol %


*   %c :mencetak karakter
*   %s :mencetak data menjadi string

*   %i, %d :mencetak angka desimal bertanda
*   %u :mencetak angka desimal tak bertanda

*   %x, %X :mencetak angka heksa dengan huruf kecil %x atau huruf besar %X
*   %f :mencetak angka real berkoma
* %e, %E :mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G :fungsi hampir sama dengan %f dan %e hanya saja pencetakan angka dibelakang koma lebih pendek

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Hilmi yang berumur 20 dan bertempat tinggal di Kuningan

#Variabel, Tipe data dan Konversinya

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

##Variabel

* Variabel merupakan tempat penyimpanan data atau nilai
* Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
* Nama sebuah variabel tidak bisa diawali dengan angka/numerik
* Nama sebuah variabel selain keyword dari bahasa python
* Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data phyton**

In [ ]:
var1 = 'Hilmi ada disini' #string
var2 = 2112222111 #int
var3 = 0.2112222111 #float
var4 = True #bool
var5 = 1j+2 #complex
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

Hilmi ada disini
2112222111
0.2112222111
True
(2+1j)

**Memanggil variabel dan menampilkan**

In [ ]:
var1

'Hilmi ada disini'

In [ ]:
var2
var4

True

In [ ]:
var6 = ' Hilmi Hibatullah'
var6

' Hilmi Hibatullah'

##Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.

Mengenal Beberapa Tipe Data Pada Python:

**String**

**Number** (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(variabel)**, sebagai berikut:

In [ ]:
type(var1)

str

In [ ]:
type(var2)

int

In [ ]:
type(var3)

float

In [ ]:
type(var4)

bool

In [ ]:
type(var5)

complex

In [ ]:
type(var6)

str

In [ ]:
type(12.3424)

float

In [ ]:
print(var1,'Tipe data :', type(var1))
print(var2,'Tipe data :', type(var2))
print(var3,'Tipe data :', type(var3))
print(var4,'Tipe data :', type(var4))
print(var5,'Tipe data :', type(var5))

Hilmi ada disini Tipe data : <class 'str'>
2112222111 Tipe data : <class 'int'>
0.2112222111 Tipe data : <class 'float'>
True Tipe data : <class 'bool'>
(2+1j) Tipe data : <class 'complex'>

##Konversi Tipe Data

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya :

In [ ]:
number = 12
print("data =",number,", type =",type(number))

data = 12 , type = <class 'int'>

In [ ]:
#Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #false jika integer=0, ainnya true

In [ ]:
#melihat data yang telah dikonversi
print("data =", kon_float , ",type =", type(kon_float))
print("data =", kon_str , ",type =", type(kon_str))
print("data =", kon_bool, ",type =", type(kon_bool))

data = 12.0 ,type = <class 'float'>
data = 12 ,type = <class 'str'>
data = True ,type = <class 'bool'>

#Berbagai Struktur Data di Phyton

##List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
x = ['Hilmi', 12, 1j, 0.13]

In [ ]:
x

['Hilmi', 12, 1j, 0.13]

x[0] artinya mengambil elemen paling awal, dengan index 0 dari List x.

x[5] artinya mengambil elemen dengan index 5 dari List x.

x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
a = [1,2,12,20,21,22]
print(a[3])
print(a[3:5])
print(a[2:3:4])
print(a[-2])
print(a[:4])
print(a[-2:])

20
[20, 21]
[12]
21
[1, 2, 12, 20]
[21, 22]

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

In [ ]:
#Mengganti elemen
x =[2,3,4,5,6,7]
x[3]=10
print(x)

[2, 3, 4, 10, 6, 7]

In [ ]:
#Menambah elemen
y = [2,3,4]
y[2]=5
y.append(7) #append = menambah
print(y)

[2, 3, 5, 7]

In [ ]:
#Menghapus item
y = [2,3,4,5]
del y[0]
print(y)

[3, 4, 5]

In [ ]:
binatang = ['ayam', 'bebek', 'burung']
del binatang[0]
print(binatang)

['bebek', 'burung']

In [ ]:
s = "Selamat Sore!"
print(s[1]) #ambil karakter ke 2 dari string s
print(s[0:8]) #ambil karakter pertama hingga 8 dari string s
s = "Sore"
print(s)

e
Selamat
Sore

In [ ]:
s[2]="r" #gagal karena immutable atau tidak dapat diubah, string utuh bersifat mutable, sedangkan elemennya bersifat immutable

TypeError: ignored

##Tuple

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program',1+5j)
t

(5, 'program', (1+5j))

In [ ]:
print(t[0])

5

In [ ]:
print(t[0:2])

(5, 'program')

In [ ]:
print(t[1]='data') #eror, karena tuple bersifat immutable

SyntaxError: ignored

In [ ]:
x = (9,8,7,6,'ada')
print(x)
print(x[4])

(9, 8, 7, 6, 'ada')
ada

In [ ]:
del[]

##Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,1,2,2,3,2,5,6,9} #dalam set, elemen elemen duplikat diabaikan/dijadikan 1
print(a)

{1, 2, 3, 5, 6, 9}

In [ ]:
a = {1,2,3}
print(a[2]) #tidak bisa mengambil sebagian data

TypeError: ignored

##Dictionary

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1 :'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
print(type(d))
print("d[1]= ", d[1]);
print("d['key'] =", d['key']);

<class 'dict'>
d[1]=  value
d['key'] = 2

In [ ]:
q = {5 :'nilai','kunci':7}
print(type(q))
print("q[5]= ",q[5]);
print("q['kunci'] =",q['kunci']);

<class 'dict'>
q[5]=  nilai
q['kunci'] = 7

##Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data =", list1, ",type =", type(list1))

data = [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
#Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

#Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}



*   List : kumpulan nilai dengan urutan tertentu, list termasuk data mutable atau dapat diubah keseluruhannya, namun tidak dengan elemen didalamnya.
List menggunakan simbol []

*   Tuple : Tuple hampir sama seperti list, bedanya nilai atau data pada jenis data tuple tidak dapat diubah atau disebut dengan immutable.
Simbol tuple ()

* Set : Kumpulan nilai unik dan tidak terurut, elemen elemen yang lebih dari 1 atau ganda akan diabaikan dalam set atau dijadikan 1.
Simbol set {}

* Dictionary : Kumpulan data dari pasangan 'key' dan 'value' yang tidak terurut.
Simbol dictionary {}

#Operasi Matematika pada Phyton

##Operasi Aritmatika

Operator aritmatika adalah operator yang digunakan untuk melakukan perhitungan terhadap data numerik. Berikut merupakan operator aritmatika yang digunakan dalam python :

Prioritas operator Setiap operator aritmatika memiliki prioritas yang berbeda. Sebagai contoh :

3+57 Seperti yang diketahui, operator perkalian () memiliki prioritas yang lebih tinggi dibandingkan dengan operator penjumlahan (+) sehingga operasi dapat dituliskan sebagai berikut (3+(5*7)).

Untuk lebih jelasnya, tabel berikut memperlihatkan urutan prioritas dari operator aritmatika :

Berikut merupakan mindmap dari operasi aritmatika :

Perhatikan contoh dibawah :

In [ ]:
x = 5 + 2 *3 / (3-2)**2
print(x)

11.0

In [ ]:
x = 10
y = 3

print("x=",x)
print("y=",y)

print("x+y = ",(x+y))
print("x-y =",(x-y))
print("x*y =",(x*y))
print("x/y =",(x/y))
print("x//y =",(x//y))
print("x%y =",(x%y))
print("x**y =",(x**y))

x= 10
y= 3
x+y =  13
x-y = 7
x*y = 30
x/y = 3.3333333333333335
x//y = 3
x%y = 1
x**y = 1000

In [ ]:
#TIPE DATA NUMBER
import math

#fungsi-fungsinya :
#fungsi absolut : abs (x)
#fungsi ceiling : ceil (x)
#fungsi eksponensial : exp (x)
#fungsi logaritma : log(x) dan log10 ()
#fungsi maximal : max()
#fungsi minimal : min()
#fungsi pangkat : pow (x,y)
#fungsi round (pembulatan kebawah jika < 0.5) : round ()
#fungsi kuadrat : sqrt ()
#fungsi trigonometri : sin(), cos(), tan(), radians(), dll

#konstanta
print("pi =", math.pi)
print("e =", math.e)

#fungsi pangkat
print(math.pow(3,2))

#fungsi akar kuadrat
print(math.sqrt(9))

#fungsi logaritma
print(math.log(9))

#fungsi trigonometri
print(math.sin(math.radians(90)))

#fungsi absolut
print(abs(-10))
print(abs(10))

#fungsi ceiling : untuk membulatkan kebawah
print(math.ceil(-5.25))
print(math.ceil(5.25))
print(math.ceil(5.75))

#fungsi eksponensial
print(math.exp(1))
print(math.exp(-1))

pi = 3.141592653589793
e = 2.718281828459045
9.0
3.0
2.1972245773362196
1.0
10
10
-5
6
6
2.718281828459045
0.36787944117144233

**Menulis fungsi, contohnya :**

In [ ]:
def penjumlahan(x,y):#input
   a=x+y             #proses
   return a          #output

penjumlahan(1,2)  #menggunakan fungsi

3

In [ ]:
def penjumlahan(x,y,z=None):
  if (z==None):
      return x+y
  else :
      return x+y+z

print(penjumlahan(1,2))
print(penjumlahan(1,2,3))

3
6

In [ ]:
def penjumlahan(x,y):
    return x+y

a = penjumlahan
a(1,2)

3

In [ ]:
def pengurangan(a,b):
    return a-b

a = pengurangan
a(5,3)

2