<a href="https://colab.research.google.com/github/Hilmihibatullah1/PengenalanPython/blob/main/TugasPraktikum2_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OPERATOR

##Operator Aritmatika

In [ ]:
x = 1
y = 1

print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x % y =',x%y)
print('x ** y =',x**y)

x + y = 2
x - y = 0
x * y = 1
x / y = 1.0
x // y = 1
x % y = 0
x ** y = 1

##Operator Perbandingan

In [ ]:
x = 1
y = 1

print('x =',x)
print('y =',y)
print('\n')

print('x == y hasilnya',x==y)
print('x != y hasilnya',x!=y)
print('x > y hasilnya',x>y)
print('x < y hasilnya',x<y)
print('x >= y hasilnya',x>=y)
print('x <= y hasilnya',x<=y)

x = 1
y = 1


x == y hasilnya True
x != y hasilnya False
x > y hasilnya False
x < y hasilnya False
x >= y hasilnya True
x <= y hasilnya True

##Operator Logika

In [ ]:
a = True
b = False

print('Hasil dari True and True  :',a and a)
print('Hasil dari True and False  :',a and b)
print('Hasil dari False and True  :',b and a)
print('Hasil dari False and False  :',b and b)

print('\n')

print('Hasil dari True or True  :',a or a)
print('Hasil dari True or False  :',a or b)
print('Hasil dari False or True  :',b or a)
print('Hasil dari False or False  :',b or b)

print('\n')

print('Hasil dari not True  :',b)
print('HAsil dari not False  :',a)

Hasil dari True and True  : True
Hasil dari True and False  : False
Hasil dari False and True  : False
Hasil dari False and False  : False


Hasil dari True or True  : True
Hasil dari True or False  : True
Hasil dari False or True  : True
Hasil dari False or False  : False


Hasil dari not True  : False
HAsil dari not False  : True

##Operator Bitwise

In [ ]:
x = 12
y = 21

print('x berisi angka',x,'desimal atau',bin(x),'biner')
print('y berisi angka',y,'desimal atau',bin(y),'biner')

print('\n')

print('x & y :',x & y)
print('x | y :',x | y)
print('x ^ y :',x ^ y)
print('~x    :',~x)
print('x << 1:',x << 1)
print('x >> 1:',x >> 1)

x berisi angka 12 desimal atau 0b1100 biner
y berisi angka 21 desimal atau 0b10101 biner


x & y : 4
x | y : 29
x ^ y : 25
~x    : -13
x << 1: 24
x >> 1: 6

##Operator Assigment (Penugasan)

In [ ]:
a = 7
b = 4
b = b + 1
c = a + b
d = c + c + a
e = (c + d)* a

print('isi variabel a :',a)
print('isi variabel b :',b)
print('isi variabel c :',c)
print('isi variabel d :',d)
print('isi variabel e :',e)

isi variabel a : 7
isi variabel b : 5
isi variabel c : 12
isi variabel d : 31
isi variabel e : 301

In [ ]:
x = 10
x += 5
print('x += 5 :',x)

x = 10
x /= 5
print('x /= 5 :',x)

x = 10
x **= 5
print('x **= 5 :',x)

x = 10
x <<= 2
print('x <<= 2 :',x)

x += 5 : 15
x /= 5 : 2.0
x **= 5 : 100000
x <<= 2 : 40

##Operator Identitas

In [ ]:
mk = 'Alpro'
print('matakuliah :',x)
print('\'i\' in matakuliah :', 'a' in mk)
print('\'k\' in matakuliah :', 'k' in mk)
print('\'d\' in matakuliah :', 'd' in mk)
print('\n')

x = ['a','b','c']
print('bar :',x)
print('\'a\' in bar     :','a' in x)
print('\'a\' not in bar :','a' not in x)
print('\'d\' not in bar :','d' not in x)
print('\n')

nilai = (65,40,98,77)
print('nilai :',nilai)
print('102 in nilai :', 65 in nilai)
print('102 not in nilai :',100 not in nilai)
print('35 not in nilai :',40 in nilai)

matakuliah : 40
'i' in matakuliah : False
'k' in matakuliah : False
'd' in matakuliah : False


bar : ['a', 'b', 'c']
'a' in bar     : True
'a' not in bar : False
'd' not in bar : True


nilai : (65, 40, 98, 77)
102 in nilai : True
102 not in nilai : True
35 not in nilai : True

In [ ]:
x = ['a','b','c']
print('bar :',x)
print('\'a\'is x        :','a' is x)
print('\'a\'is not x    :','a' is not x)
print('\'d\' is x :', 'd' is x)
print('\n')

mk = 'alpro'
print('matakuliah :',x)
print('\'alpro\' is matakuliah \t:','alpro' is mk)
print('\'kalkulus\' is not matakuliah \t:', 'kalkulus' is mk)
print('\'fondasi\' is not matakuliah \t:', 'fondasi' is not mk)
print('\n')

bar : ['a', 'b', 'c']
'a'is x        : False
'a'is not x    : True
'd' is x : False


matakuliah : ['a', 'b', 'c']
'alpro' is matakuliah 	: True
'kalkulus' is not matakuliah 	: False
'fondasi' is not matakuliah 	: True

In [ ]:
mk = 'alpro'
print('matakuliah :',x)
print('\'alpro\' is matakuliah \t:', 'alpro' is mk)
print('\'kalkulus\' is not matakuliah \t:','kalkulus' is mk )
print('\'fondasi\' is not matakuliah \t:', 'fondasi' is not mk)
print('\n')

matakuliah : ['a', 'b', 'c']
'alpro' is matakuliah 	: True
'kalkulus' is not matakuliah 	: False
'fondasi' is not matakuliah 	: True